<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


    <title>Users</title>
    <style>
        .username {
            color: #ffffff;
            font-weight: bold;
            margin-bottom: 0px;
            text-transform: lowercase;
        }

        .roles {
            color: #ffffff;
        }

        .header {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding-left: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px
        }

        .header li label {
            margin-bottom: 0px;
        }

        .header li {
            margin-right: 3px;
        }


        .table-striped {
            padding: 20px;
        }

        .logout {
            margin-left: auto;
            color: #c5c5c5;
        }

        #nav-tab {
            margin-bottom: 0rem !important;
            align-items: center;
        }

        #alluserstab {
            padding: 0px;
            border: solid #d5d5d5 0px;
            background-color: #ffffff;
        }


        #nav-home-tab {
            margin-right: 20px;
            border-bottom: solid #d5d5d5 1px;
        }

        .col-md-11 {
            background-color: #f6f7f9;

        }

        .col-md-1 {
            display: flex;
            padding-left: 0px;
            padding-right: 0px;
        }

        #main {
            height: 100%;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 0px solid #dee2e6;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 1px solid #dee2e6;
        }
        .table td, .table th {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 0px;
        }
        .nav-tabs {
           border-bottom: 0px solid #dee2e6;
        }
    </style>

</head>
<body>
<!-- Вариант 2: Bootstrap JS отдельно от Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <span class="navbar-text">
        <a id="head"></a>
    </span>
    <a class="logout" href="/logout">Logout</a>
</nav>
<div class="container-fluid">
    <div class="row id=" main>
        <div class="col-md-1">
            <ul class="nav nav-pills flex-column flex-grow-1 ">
                <div>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Admin</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-11 vh-100">
            <div class="tab-pane fade show active" id="admin">
                <h4 class="label-adminpanel">Admin panel</h4>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#allusers"
                                type="button" role="tab" aria-controls="home" aria-selected="true">All user
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#newuser"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">Add new user
                        </button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="allusers" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header"><h4>All user</h4></div>

                                    <table class="table table-striped table-hover" id="alluserstab">
                                        <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="newuser" role="tabpanel" aria-labelledby="profile-tab">
                        <!--NEW USER TAB CONTENT BEGIN-->

                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header"><h4>Add new user</h4></div>
                                    <div class="card-body text-center">
                                        <form class="form-container">
                                            <div class="form-group w-25 p-auto m-auto">
                                                <label for="firstName">Name</label>
                                                <input type="text" class="form-control" id="firstName"
                                                       placeholder="имя" name="name">
                                            </div>

                                            <div class="form-group w-25 p-auto m-auto">
                                                <label for="lastName" class="pt-md-2">Surname</label>
                                                <input type="text" class="form-control" id="lastName"
                                                       placeholder="фамилия" name="surname">
                                            </div>

                                            <div class="form-group w-25 p-auto m-auto">
                                                <label for="age" class="pt-md-2">Age</label>
                                                <input type="number" class="form-control" id="age"
                                                       placeholder="возраст" name="age">
                                            </div>

                                            <div class="form-group w-25 p-auto m-auto">
                                                <label for="username" class="pt-md-2">Username</label>
                                                <input type="text" class="form-control" id="username"
                                                       placeholder="Электронная почта" name="username">
                                            </div>

                                            <div class="form-group w-25 p-auto m-auto">
                                                <label for="password" class="pt-md-2">Password</label>
                                                <input type="password" class="form-control" id="password"
                                                       placeholder="Пароль" name="password" required>
                                            </div>

                                            <div class="form-group w-25 p-auto m-auto">
                                                <label for="roles" class="pt-md-2">Rolesь</label>
                                                <select class="custom-select form-control" size="2" id="roles" multiple
                                                        required>
                                                </select>
                                            </div>
                                            <button class="btn btn-success btn-lg my-2" type="submit">
                                                Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--NEW USER TAB CONTENT END-->
                    </div>
                </div>

            </div>
            <!--MODAL EDIT BEGIN-->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                 aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                            <button type="submit" class="close" aria-label="Close" data-bs-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="form-container">
                            <div class="modal-body text-center">
                                <div class="form-group m-auto col-md-6">
                                    <label for="editId" class="col-form-label">#</label>
                                    <input type="number" class="form-control" id="editId" name="id" readonly>
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="editFirstName" class="col-form-label pt-md-2">Name</label>
                                    <input type="text" class="form-control" id="editFirstName" name="name">
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="editSurName" class="col-form-label pt-md-2">Surname</label>
                                    <input type="text" class="form-control" id="editSurName" name="surname">
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="editAge" class="col-form-label pt-md-2">Age</label>
                                    <input type="number" class="form-control" id="editAge" name="age">
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="editUsername" class="col-form-label pt-md-2">Username</label>
                                    <input type="text" class="form-control" id="editUsername" name="username">
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="editPassword" class="col-form-label pt-md-2">Password</label>
                                    <input type="password" class="form-control" id="editPassword" name="password">
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="editRoles" class="pt-md-2">Roles</label>
                                    <select class="custom-select form-control" size="2"
                                            id="editRoles" multiple required>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary active"
                                        aria-pressed="true">Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--MODAL EDIT END-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                            <button type="submit" class="close" aria-label="Close" data-bs-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="form-container">
                            <div class="modal-body text-center">
                                <div class="form-group m-auto col-md-6">
                                    <label for="deleteId" class="col-form-label">#</label>
                                    <input type="number" class="form-control" id="deleteId" name="id" readonly>
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="deleteFirstName" class="col-form-label pt-md-2">Name</label>
                                    <input type="text" class="form-control" id="deleteFirstName" name="name"
                                           readonly>
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="deleteSurName" class="col-form-label pt-md-2">Surname</label>
                                    <input type="text" class="form-control" id="deleteSurName" name="surname"
                                           readonly>
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="deleteAge" class="col-form-label pt-md-2">Age</label>
                                    <input type="number" class="form-control" id="deleteAge" name="age"
                                           readonly>
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="deleteUsername" class="col-form-label pt-md-2">Username</label>
                                    <input type="text" class="form-control" id="deleteUsername" name="username"
                                           readonly>
                                </div>
                                <div class="form-group m-auto col-md-6">
                                    <label for="deleteRoles" class="pt-md-2">Roles</label>
                                    <select class="custom-select form-control" size="2"
                                            id="deleteRoles" multiple readonly>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-danger active"
                                        aria-pressed="true">Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--MODAL DELETE END-->
        </div>
    </div>


    <script src="admin.js"></script>
</div>
</body>
</html>