.username {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
    text-transform: lowercase;
}

.roles {
    color: #ffffff;
}

.header {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px
}

.header li label {
    margin-bottom: 0px;
}

.header li {
    margin-right: 3px;
}


.table-striped {
    padding: 20px;
}

.logout {
    margin-left: auto;
    color: #c5c5c5;
}

#nav-tab {
    margin-bottom: 0rem !important;
    align-items: center;
}

.main-table {
    padding: 20px;
    border: solid #d5d5d5 1px;
    background-color: #ffffff;
}

.card-header {
    border-bottom: solid #d5d5d5 1px;
    border-top: solid #d5d5d5 1px;
    background-color: #efefef;
}

.card-header-border {
    border-left: solid #d5d5d5 1px;
    border-right: solid #d5d5d5 1px;
}

#nav-home-tab {
    margin-right: 20px;
    border-bottom: solid #d5d5d5 1px;
}

.col-md-11 {
    background-color: #f6f7f9;

}

.col-md-1 {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}
#main{
    height: 100%;
}




